body {
  margin: 0;
  font-family: 'Arial', sans-serif;
}

.App {
  text-align: center;
  background-image: url('./images/plant-background.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  color: #fff;
}

button {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
